*
    font-family: 'Gilroy';


.container
    width: 940px
    margin: 0 auto
    &_about
        width: 471px

@import 'variables'
@import 'title'
@import 'blocks/btn'
@import 'blocks/header'
@import 'blocks/about'
@import 'blocks/skills'
@import 'blocks/portfolio'
@import 'blocks/footer'
@import 'blocks/modal'
@import 'blocks/form'
@import 'media'

